//  Admin 
// ------------------------------------- //

.nav-admin-group {
  background-color: #8d703b;
}

.nav-admin-item {
  &.active {
    background-color: #796031;
  }
  a {
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 10px;
  }
}