@import 'style';


//  table 
// ------------------------------------- //
.table-board-list {
  text-align: center;
  border-top: 2px solid #555555;
  margin-bottom: 30px;

  thead th {
    color: #222;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 1px solid #aaa;
  }
  .board-list-title {
    @include text-truncate;
    text-align: left;
    max-width: 200px;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  tbody {
    tr:nth-last-child(1) td {
      border-bottom: 1px solid #aaaaaa;
    }
  }
}

//  table - toolbar 
// ------------------------------------- //

.toolbar-board-group {
  margin-bottom: 15px;

  .board-page-info {
    b {
      color: #222222;
    }

    .current-page{
      position: relative;
      padding-left: 0.5rem;
      margin-left: 0.4rem;

      &::before {
        content: '';
        display: block;
        background-color: #ddd;
        width: 1px;
        height: 0.7rem;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}


//  table - navigation 
// ------------------------------------- //

.pagination {
  .page-item {
    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 50%;
      }
    }
    &.active .page-link {
      background-color: #232323;
      border-color: #232323;
    }
  }
  .first {
    .xi-angle-left-min::after {
      content: "\e93c";
      font-family: "xeicon";
      margin-left: -0.8rem;
    }
  }
  .last {
    .xi-angle-right-min::after {
      content: "\e93f";
      font-family: "xeicon";
      margin-left: -0.8rem;
    }
  }
  .prev {
    margin-right: 15px;
  }
  .next {
    margin-left: 15px;
  }
  
  .page-link {
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    line-height: 1.7;
    border: 0;

    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: transparent;
    color: #999;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    font-size: .8rem;
    padding-top: 0.25rem;
    margin: 0 2px;
    text-decoration: none;

    i {
      font-size: 1rem;
      margin-top: 0.25rem;
      color: #777;
      margin-left: -6px;
    }
  }
}


.board-info-group {
  @extend .text-md-center;
  padding: 0.9rem;
  border: 1px solid #ddd;  
  background-color: #f8f9fa;
  list-style: none;
  margin-top: 20px;

  li {
    @extend .d-md-inline;  
  }
  @media (min-width: 768px) {
   li ~ li {
    position: relative;
    padding-left: 14px;
    margin-left: 10px;

    &:before {
      content: '';
      display: block;
      background-color: #ddd;
      width: 1px;
      height: 0.6rem;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
   }   
  }
}

.board-view-title {
  text-align: center;
}

.board-view-content {
  padding: 30px 20px;
  border-bottom: 1px solid #ddd; 
  min-height: 300px;
}

.board-view-file {
  ul {
    list-style: none;
  }
}